.editspecs{
    position: fixed;
    height : 360px;
    width: 450px;
    background-color:white;
    margin : 170px auto auto 500px;
    
    .close{
        position: relative;
        right: -27px;
        top: -27px;
        padding-top: 5px;
        padding-left: 8px;
        background-color: white;
        border-radius: 50%;
        opacity: 1;
        height: 27px;
        width: 27px;
        font-size: 19px;
        color: grey;
    }
    
    
    h2{
        padding-left: 20px;
        margin-top: 10px;
        font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
        color : #1376A1;
    }
    
    .specifications-form{
        color : #1376A1;
        margin-left: 22px;
        tr{
            height : 30px;
            td{
                width : 160px;
                padding-top: 10px;
                padding-bottom:10px;
                padding-right: 10px;
            }
        }
        
        .spec{
            font-size : 20px;
            font-family:"Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
        
        input{
            height: 30px;
            background-color: #ececec;;
            width: 240px;
            border: 0px;
            color:black;
            padding-left : 10px;
        }
        
        select{
            height: 30px;
            background-color: #ececec;;
            width: 240px;
            border: 0px;
            color:black;
            padding-left : 10px;
        }
        
        svg,.reporting-errors{
            display:inline-block;
        }
        
        .reporting-errors{
            width: 300px;
            height : 30px;
            color:red;
            padding: 10px;
            padding-left: 10px;
            font-size: 14px;
        }
        
        svg{
            g{
                fill : #1376A1;
            }
            width: 100px;
            height : 30px;
            float:right;
            margin-top: 10px;
            margin-right: 20px;
            cursor : pointer;
            font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
            
            text{
                font-size: 12px;
            }
        }
    }
}