@import url(http://fonts.googleapis.com/css?family=Ubuntu);
html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    position:relative;
    margin-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;

    ul, li{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .main{
        position:relative;
        width: 1100px;
        height: auto;
        margin: 20px auto;



        .sidebar,.content{
            float:left;
            display:inline-block;
        }

        .sidebar{
            position:relative;
            height: 1060px;
            width: 300px;
            background-color:red;
            margin-right: 10px;

            .nav,.tankers{
                float:left;
                display:inline-block;
            }


            .nav{
                height: 100%;
                width: 60px;
                background-color:#2A789F;

                ul li{
                    height: 40px;
                    width: 60px;
                    text-align: center;
                    color:white;
                    font-size: 18px;
                    padding-top: 10px;
                    cursor:pointer;

                    &:hover{
                        background-color:#5BAFBF;
                        color:black;
                    }
                }
            }

            .tankers{
                height: 100%;
                width: 240px;
                background-color:#61AEC2;

                .header{
                    h3{
                        color:white;
                        padding-left: 20px;
                        padding-bottom : 10px;
                    }
                }

                .tanks{
                    height: 100%;
                    margin: 0px auto;

                    ul li{
                        cursor: pointer;
                        padding: 10px;
                        color:white;
                        font-size: 20px;

                        &:hover{
                            background-color:white;
                            color:black;
                        }

                        span{
                            margin-right: 10px;
                        }
                    }

                    .active{
                        background-color:white;
                        color:black;
                    }

                }
            }
        }

        .content{
            position:relative;
            height: 100%;
            width : 790px;

            .header{
                position:relative;
                background-color:#7A8943;
                height: 60px;

                .left,.right{
                    float:left;
                    display: inline-block;
                }

                .left{
                    width: 400px;
                    height: 100%;

                    h2{
                        margin: 0px;
                        padding: 12px;
                        color:white;
                        padding-left: 40px;
                    }
                }

                .right{
                    width: 390px;
                    height: 100%;
                    text-align:right;
                    padding: 20px;
                    font-size: 18px;
                    color:white;
                }
            }

            .blocks{
                position:relative;
                height: 500px;
                .left,.right{
                    float:left;
                    display:inline-block;
                }
                .left{
                    position:relative;
                    height: 500px;
                    width: 540px;
                    border: 4px solid #DADADA;
                    border-left: 0px;
                    border-right: 0px;
                    .capchart{
                        position:relative;
                        height: 350px;
                        border: 4px solid #DADADA;
                        border-top: 0px;

                        #chartdiv {
                            position:relative;
                            display:block;
                        	width		: 540px;
                        	height		: 100%;
                        	font-size	: 11px;

                        }
                    }
                    .specs{
                        height: 142px;
                        background-color:#A6BF5A;
                        border: 4px solid #DADADA;
                        border-top: 0px;
                        border-bottom: 0px;
                    }
                }

                .right{
                    height: 500px;
                    width: 250px;
                    background-color:pink;
                    border: 4px solid #DADADA;
                    border-left: 0px;

                    .data{
                        ul li{
                            height: 117px;
                            border-bottom: 4px solid #DADADA;
                        }

                        ul li:nth-child(1){
                            background-color:#DDC968;
                        }

                        ul li:nth-child(2){
                            background-color:#7A8944;
                        }

                        ul li:nth-child(3){
                            background-color:#A6BF5A;
                        }

                        ul li:last-child{
                            border-bottom: 4px solid #DADADA;
                        }
                    }

                    .inspect{
                        background-color:#61AEC2;
                        height: 142px;
                    }
                }
            }

            .chart{
                position:relative;
                border: 4px solid #DADADA;
                border-top: 0px;
                background-color:grey;
                height: 500px;
                width: 100%;

            }
        }
    }
}

.amcharts-chart-div a{
    display:none;
}
