.overlays{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;
      height: 100%;
      width: 100%;
      background:rgba(0,0,0,0.3);
      z-index: 100;

      @import "overlay_imports/notification_overlays";
      @import "overlay_imports/contacts_overlays";
      @import "overlay_imports/details_overlays";
}
