.admin-authorize{
	.content{
		margin-left: 0;
        margin-right: 5px;
        margin-top: 10px;
        width: 820px;
        position: relative;

        .content-blocks{
        	position: relative;
            height: 900px;
            margin-top: 5px;

            .authblock{
            	height: 600px;
                width: 100%;
                background-color: #788838;

                .header{
                    height : 50px;
                    width: 100%;
                    padding-top: 10px;
                    padding-left: 20px;

                    .icon,
                    .title{
                        float:left;
                    }

                    .icon{
                        svg{

                            width: 30px;
                            height: 30px;

                            text{
                                font-size: 13px;
                                font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
                            }
                        }
                    }

                    .title{
                        margin-top: 0px;
                        padding-top: 0px;
                        font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
                        color:white;
                        font-size: 24px;
                        margin-left: 20px;
                    }
                }

                .body{
                    height : 540px;
                    width: 800px;
                    margin : 0px auto;
                    background-color:white;
                    padding-left: 10px;
                    padding-top: 10px;

                    .table{
                        table{
                            thead{
                                th{
                                    color: #788838;
                                    width: 100px;
                                    padding-top: 10px;
                                    padding-bottom:10px;
                                    padding-right: 10px;
                                    font-size: 16px;

                                    &.notes{
                                        width: 250px;
                                    }

                                    &:first-child{
                                        padding-left: 5px;
                                    }

                                    &.actions{
                                        padding-left: 20px;
                                    }
                                }
                            }

                            tbody{
                                td{
                                    color: #788838;
                                    width: 150px;
                                    font-size: 16px;
                                    background-color: #ececec;;

                                    &.notes{
                                        width: 250px;
                                    }

                                    &.actions{
                                        padding-left: 20px;
                                        width: 230px;
                                        padding-top: 5px;
                                        svg{
                                            width: 100px;
                                            height : 30px;
                                            cursor: pointer;

                                            text{
                                                font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
                                                font-size: 12px;
                                            }
                                        }

                                        .left,
                                        .right{
                                            float:left;
                                            margin-right: 5px;
                                        }
                                    }

                                    &:first-child{
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
	}
}