.admin-authorize,
.admin-settings{
    position: relative;
    background: #ececec;
    overflow: hidden;
    margin-bottom: 50px;
    display:block;
    height: 100%;

    /**
        - Content View (Header)
    **/
    .header {
        position: relative;
        background-color: #788838;
        height: 60px;

        .header-left,
        .header-right {
            float: left;
            display: inline-block;
        }

        .header-left {
            width: 400px;
            height: 100%;

            h2 {
                margin: 0;
                padding: 15px;
                color: white;
                padding-left: 15px;
                font-size: 28px;
            }
        }

        .header-right {
            width: 410px;
            height: 100%;
            text-align: right;
            padding-top: 20px;
            font-size: 18px;
            color: white;
        }
    }

    /**
        - Dashbaord Views Navigation (Sidebar)
    **/
    .sidebar {
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 10px;
        width: 100px;
        height: 930px;
        position: relative;

        .nav-icons{
            list-style: none;
            padding: 0px;
            margin: 0px;
            min-height: 100%;
            background-color:white;

            a{
                li {
                    margin-bottom: 2px;

                    &:hover {
                        background-color: #a4be47;

                        path,
                        rect,
                        polygon {
                            fill: white;
                        }
                    }

                    .icon {
                        height: 40px;
                        width: 40px;
                        margin-left: 30px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }
                }

                li:not(:first-child) {
                    margin-top: 10px;
                }

                li.active {
                    background-color: #a4be47;
                    path,
                    rect,
                    polygon {
                        fill: white;
                    }
                }
            }
        }
    }

    /**
        - Admin Dashboard Users List (Sidebar)
    **/
    .sidebar-user {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
        width: 210px;
        height: 930px;
        position: relative;
        font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;

        /*
            - User Search Bar
            - Filter Togger Button
        */
        .user-search,
        .toggel-user-search{
            float:left;
            position: relative;
        }

        .user-search{
            border : 0px;
            width: 180px;
            padding-left : 20px;
            height: 30px;
            margin-bottom: 12px;
        }

        .toggel-user-search{
            font-size: 20px;
            color: #a4be47;
            margin-top: 4px;
            margin-left : 5px;
            cursor:pointer;
            position: relative;

        }

        .search-options{
            width: 100%;
            height : 30px;
            clear:both;
            margin-bottom : 10px;
            font-size: 13px;
            display: none;
            p{
                margin-left: 5px;
            }
            p,span{
                display: inline-block;
                float:left;
                margin-left: 7px;
                font-weight : bold;
            }
            span{
                cursor: pointer;
                color: #788838;
                text-decoration: underline;

                &.active{
                    color:grey;
                    text-decoration: none;
                }
            }
        }

        .search-results{
            width: 210px;
            display: none;

            .s-header{
                font-size: 14px;
                padding-left : 5px;
                color: #788838;
                font-weight: bold;
                border-bottom : 1px solid  #a4be47;
                clear: both;
            }
        }

        .search-results{
            border-bottom : 1px solid  #a4be47;
        }

        .users-list,
        .search-results{
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom : 5px;
            padding-bottom: 5px;
            clear:both;
            
            a {
                overflow-x: visible;
                text-decoration: none;
                display: block;

                li {
                    background-color: #a4be47;
                    width: 210px;
                    height: 45px;
                    color: white;
                    padding-top: 5px;
                    padding-left: 10px;
                    font-size: 22px;

                    &.active{
                        background-color: #788838;
                    }

                    a {
                        color: white;
                    }

                    &:hover {
                        background-color: #788838;
                    }

                    .email,
                    .glyphicon-user{
                        display: inline-block;
                    }

                    .email{
                        font-size : 16px;
                    }

                    .glyphicon-user{
                        font-size: 16px;
                        margin-right: 10px;
                        margin-top: 11px;
                        float:left;
                    }

                    .active-bar {
                        position: absolute;
                        right: 0;
                        margin-top: 9px;

                        i{
                            position: absolute;
                            display: inline-block;
                            width: 0;
                            height: 0;
                            line-height: 0;
                            border: 0.4em solid transparent;
                            border-left: 0.4em solid #788838;
                            left: 0;
                            top: 0;
                        }
                    }
                }

                &:not(:first-child) {
                    margin-top: 5px;
                }
            }
        }

        .pager{
            margin: 0px;
            li{

                span,a{
                    width: 100px;
                }
            }
        }
    }

    .sidebar,
    .content,
    .sidebar-user {
        display: block;
        float: left;

    }
}

@import "admin_imports/admin_authorize";
@import "admin_imports/admin_settings";
